<div class="container">
    <div class="check">
        <div class="col-md-3 cart-total">
            <a id="continueToBasketBtn" class="continue" href="#">Continue to basket</a>
            <%
                var amountOfProducts = 0;
                var totalSum         = 0;

                _.each(basket, function(product) {
                    totalSum += product.price;
                    amountOfProducts += 1;
                });
            %>
            <div class="price-details">
                <h3>Price Details</h3>
                <span>Total</span>
                <span class="total1"><%= totalSum %></span>
                <span>Discount</span>
                <span class="total1">---</span>
                <div class="clearfix"></div>
            </div>
            <ul class="total_price">
                <li class="last_price"><h4>TOTAL</h4></li>
                <li class="last_price" id="totalSum"><span><%= totalSum %></span></li>
                <div class="clearfix"></div>
            </ul>
            <div class="clearfix"></div>
            <a id="showOrderFormBtn" class="order" href="#">Place Order</a>
            <div class="total-item">
                <h3>OPTIONS</h3>
                <p><a href="#lullaby/login">Log In</a> to use accounts data</p>
            </div>
        </div>
        <div class="col-md-9 cart-items">
            <h1>My Shopping Bag (<%= amountOfProducts %>)</h1>
            <%
                _.each(basket, function(product) {
            %>
            <div class="cart-header">
                <div id="removeProductFromBasketBtn" data-id="<%= product._id %>" class="close1"></div>
                <div class="cart-sec simpleCart_shelfItem">
                    <div class="cart-item cyc">
                        <img src="<%= product.mainImage %>" class="img-responsive" alt=""/>
                    </div>
                    <div class="cart-item-info">
                        <h3><%= product.title %><span>Product code No: <%= product.productCode %></span></h3>
                        <ul class="qty">
                            <li><p>Size : M</p></li>
                            <li><p>Qty : 1</p></li>
                        </ul>
                        <div class="delivery">
                            <p>Service Charges : Free</p>
                            <span>Delivered in 2-3 business days</span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <% }) %>
        </div>
        <div class="clearfix"></div>
    </div>
</div>