<div class="container">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Blogs</h1>
            </div>
        </div>
        <div class="row">
            <div class="main">
                <div class="registration">
                    <div class="registration_left">
                        <h2>New topic</h2>
                        <div class="registration_form">
                            <form id="registrationForm">
                                <div>
                                    <label>
                                        <textarea placeholder="Title" class="form-control" rows="1" id="title"></textarea>
                                        <textarea placeholder="Brief information" class="form-control" rows="4" id="briefInfo"></textarea>
                                        <textarea placeholder="Text" class="form-control" rows="12" id="text"></textarea>
                                    </label>
                                </div>

                                <div>
                                    <input type="submit" value="Add" id="addBtn">
                                    <input type="submit" value="Cancel" id="cancelBtn">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>