<div class="container">
    <h1 class="page-header">Your Profile</h1>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="text-center">
                <img src="<%= user.avatar %>" class="avatar img-circle img-thumbnail" alt="avatar">
            </div>
        </div>
        <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
            <h3>Personal info</h3>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-lg-3 control-label">First name:</label>
                    <span  class="col-lg-5 control-label"><%= user.firstname %></span>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Surname:</label>
                    <span class="col-lg-5 control-label"><%= user.surname %></span>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <span  class="col-lg-5 control-label"><%= user.email %></span>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Phone:</label>
                    <span  class="col-lg-5 control-label"><%= user.phone %></span>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Day of birth:</label>
                    <span  class="col-lg-5 control-label"><%= dater.formatDate(user.birthday) %></span>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">City:</label>
                    <span  class="col-lg-5 control-label"><%= user.city %></span>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Street:</label>
                    <span  class="col-lg-5 control-label"><%= user.street %></span>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="registration_form">
                        <div>
                            <input type="submit" value="Edit profile"    id="editBtn">
                            <input type="submit" value="Change password" id="changePasswordBtn">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <%
        var orders = user.orders;
        if (!orders.length) {
    %>
    <h1 class="page-header">You don't have any orders yet</h1>
    <% } else { %>
    <h1 class="page-header">Your orders</h1>
    <div class="row">
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="ordersTable">#</th>
                        <th class="ordersTable">Order code</th>
                        <th class="ordersTable">Shipment date</th>
                        <th class="ordersTable">Amount of products</th>
                        <th class="ordersTable">Total sum</th>
                    </tr>
                </thead>
                <tbody>
                    <%
                        var limit = orders.length;
                        var positionCounter = 0;
                        var index;

                        for(index = limit - 1; index >= 0; index -= 1) {
                            positionCounter += 1;
                    %>
                    <tr>
                        <td><%= positionCounter %></td>
                        <td><%= orders[index].orderCode %></td>
                        <td><%= dater.formatDate(orders[index].shipmentDate) %></td>
                        <td><%= orders[index].products.length %></td>
                        <td><%= orders[index].totalSum %></td>
                    </tr>
                    <% }} %>
                </tbody>
            </table>
        </div>
    </div>
</div>