<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-md-4 bg-white ">
            <div class=" row border-bottom padding-sm" style="height: 40px;">
                Customers
            </div>
            <ul class="friend-list">
                <li class="active bounceInDown">
                    <a href="#" class="clearfix">
                        <img src="http://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                        <div class="friend-name">
                            <strong>John Doe</strong>
                        </div>
                        <div class="last-message text-muted">Hello, Are you there?</div>
                        <small class="time text-muted">Just now</small>
                        <small class="chat-alert label label-danger">1</small>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-8 bg-white ">
            <div class="chat-message">
                <ul class="chat" id="example">
                    <li class="left clearfix">
                    	<span class="chat-img pull-left">
                    		<img src="http://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                    	</span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">Anna</strong>
                                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                            </div>
                            <p>Hello</p>
                        </div>
                    </li>
                    <li class="right clearfix">
                    	<span class="chat-img pull-right">
                    		<img src="http://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                    	</span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">Anton</strong>
                                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                            </div>
                            <p>Hi there</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="chat-box bg-white">
                <div class="input-group">
                    <input id="message" class="form-control border no-shadow no-rounded" placeholder="Type your message here">
            		<span class="input-group-btn">
            			<button id="sendMessageBtn" class="btn btn-success no-rounded" type="button">Send</button>
            		</span>
                </div>
            </div>
        </div>
    </div>
</div>