<div class="foot-top">
    <div class="container">
        <div class="col-md-6 s-c">
            <ul>
                <li>
                    <div class="fooll">
                        <h5>follow us on</h5>
                    </div>
                </li>
                <li>
                    <div class="social-ic">
                        <ul>
                            <li><a href="http://facebook.com/"><i class="facebok"> </i></a></li>
                            <li><a href="http://twitter.com/"><i class="twiter"> </i></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-6 s-c">
            <div class="stay">
                <div class="stay-left">
                    <form>
                        <input type="text" placeholder="Enter your email to join our newsletter" id="email" required="">
                    </form>
                </div>
                <div class="btn-1">
                    <form>
                        <input type="submit" value="join" id="joinBtn">
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="col-md-2 cust">
            <h4>CUSTOMER CARE</h4>
            <li><a href="#lullaby/help">Help</a></li>
            <li><a href="#lullaby/help">How To Buy</a></li>
            <li><a href="#lullaby/help">Delivery</a></li>
        </div>
        <div class="col-md-2 cust">
            <h4>ABOUT US</h4>
            <li><a href="#lullaby/about">Our Stories</a></li>
            <li><a href="#lullaby/blog">Our blog</a></li>
            <li><a href="#lullaby/contacts">Contacts</a></li>
        </div>
        <div class="col-md-2 cust">
            <h4>MY ACCOUNT</h4>
            <li><a href="#lullaby/register">Register</a></li>
            <li><a href="#lullaby/checkout">My Cart</a></li>
            <li><a href="#lullaby/help">Payment</a></li>
        </div>
        <div class="col-md-3 cust">
            <h4>HOW TO FIND US</h4>
            <li><a>ThinkMobiles, Petefi sqr., Uzhgorod, Ukraine</a></li>
            <li><a>+38 (063) 109-38-08</a></li>
            <li><a href="mailto:info@example.com">info@sitename.com</a></li>

        </div>
        <div class="clearfix"></div>
        <p>Copyrights © 2016 Lullaby. All rights reserved</p>
    </div>
</div>