<div class="top_bg">
    <div class="container">
        <div class="header_top">
            <div class="top_right">
                <ul>
                    <li><a href="#lullaby/help">Help</a></li>
                    |
                    <li><a href="#lullaby/contacts">Contact</a></li>
                    |
                    <li><a href="#lullaby/blog/p=1">Blog</a></li>
                    |
                    <li><a href="#lullaby/about">About us</a></li>
                    |
                    <li><a href="#lullaby/shop/p=1">Shop</a></li>
                    <span id="account" hidden>
                        |
                        <li><a href="#lullaby/profile">Account</a></li>
                    </span>
                    |
                    <li><a href="#lullaby/chat">Chat</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
