<div class="container">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Categories</h1>
            </div>
        </div>
        <div class="row">
            <div class="main">
                <div class="registration">
                    <div class="registration_left">
                        <h2>New category</h2>
                        <div class="registration_form">
                            <form id="registrationForm">
                                <div>
                                    <label>
                                        <input placeholder="Category title" type="text" id="title">
                                    </label>
                                </div>
                                <div>
                                    <input type="submit" value="Create" id="createBtn">
                                    <input type="submit" value="Cancel" id="cancelBtn">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>