<div class="header_bg">
    <div class="container">
        <div class="header">
            <div class="head-t">
                <div class="logo">
                    <a href="#lullaby/shop"><img src="../images/logo/lullaby.logo.jpg" class="img-responsive" alt=""/> </a>
                </div>
                <div class="header_right">
                    <div class="rgt-bottom">
                        <div id="authMenu"></div>
                        <div id="orderMenu"></div>
                    </div>
                    <div class="clearfix"> </div>
                    <div id="search"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="women_main">
        <div id="categories"></div>

        <div id="products"></div>
    </div>
</div>

