<!-- After header -->
<div class="header_bg">
    <div class="container">
        <div class="header">
            <div class="head-t">

                <!-- Logo shop -->
                <div class="logo">
                    <a href="#lullaby/shop"><img src="../images/logo/lullaby.logo.jpg" class="img-responsive" alt=""/> </a>
                </div>

                <!-- Auth and checkout menus. Search field -->
                <div class="header_right">
                    <div class="rgt-bottom">
                        <div id="authMenu"></div>
                        <div id="orderMenu"></div>
                    </div>
                    <div class="clearfix"> </div>
                    <div id="search"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content area -->
<div class="container">
    <div class="women_main">

        <!-- Categories menu -->
        <div id="categories"></div>

        <!-- Products list area -->
        <div id="products"></div>
    </div>
</div>

