<div class="top_bg">
    <div class="container">
        <div class="header_top">
            <div class="top_right">
                <ul>
                    <li><a href="#lullaby/admin/category">Category setting</a></li>
                    |
                    <li><a href="#lullaby/admin/product">Product setting</a></li>
                    |
                    <li><a href="#lullaby/admin/user">User setting</a></li>
                    |
                    <li><a href="#lullaby/admin/newsletter">Newsletter setting</a></li>
                    |
                    <li><a href="#lullaby/admin/reminder">Reminder setting</a></li>
                    |
                    <li><a href="#lullaby/admin/blog">Blog setting</a></li>
                    |
                    <li><a href="#lullaby/admin/chat">Chat</a></li>
                </ul>
            </div>
            <div class="top_left">
                <h2><button id="logoutBtn">Logout</button></h2>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
