<div class="container">
    <div class="main">
        <div class="registration">
            <div class="registration_left">
                <h2>new user? <span> create an account </span></h2>
                <div class="registration_form">
                    <form id="registrationForm">
                        <div>
                            <label>
                                <input placeholder="first name:" type="text" id="firstname" name="firstname">
                            </label>
                        </div>
                        <div>
                            <label>
                                <input placeholder="last name:" type="text" id="surname" name="surname">
                            </label>
                        </div>
                        <div>
                            <label>
                                <input placeholder="email address:" type="email" id="email" name="email">
                            </label>
                        </div>
                        <div>
                            <label>
                                <input placeholder="phone number:" type="text" id="phone" name="phone">
                            </label>
                        </div>
                        <div class="sky-form">
                            <div class="sky_form1">
                                <ul>
                                    <li><label class="radio left"><input type="radio" id="gender" name="gender" value="male" checked=""><i></i>Male</label></li>
                                    <li><label class="radio"><input type="radio" name="gender" value="female"><i></i>Female</label></li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <label>
                                <input placeholder="password" type="password" id="password" name="password">
                            </label>
                        </div>
                        <div>
                            <label>
                                <input placeholder="Confirm password" type="password" id="confirmedPassword" name="confirmedPassword">
                            </label>
                        </div>
                        <div>
                            <input type="submit" value="Create an account" id="signUpBtn">
                            <input type="submit" value="Cancel"  id="cancelBtn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
