<div class="container">
    <div class="main">
        <div class="registration">
            <div class="registration_left">
                <h2>Please check your mobile. <span>Provide number in sms</span></h2>
                <div class="registration_form">
                    <form id="registration_form">
                        <div>
                            <label>
                                <input placeholder="confirmation number" type="text" id="secret" required>
                            </label>
                        </div>
                        <div>
                            <input type="submit" value="Submit" id="recovery">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>