
<div class="container">
    <div class="main">
        <div class="registration">
            <div class="registration_left">
                <h2>Existing user</h2>
                <div class="registration_form">
                    <form id="registration_form">
                        <div>
                            <label>
                                <input placeholder="New password:" type="password" id="password" required>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input placeholder="Confirm new password" type="password" id="confirmedPassword" required>
                            </label>
                        </div>
                        <div>
                            <input type="submit" value="Save password" id="setNewPasswordBtn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>