<div class="container">
    <div class="main">
        <div class="registration">
            <div class="registration_left">
                <h2>Forget password? <span> Please, provide email </span></h2>
                <div class="registration_form">
                    <form id="registration_form">
                        <div>
                            <label>
                                <input placeholder="email:" type="email" id="email" required>
                            </label>
                        </div>
                        <div>
                            <input type="submit" value="Submit" id="provideEmailBtn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>