<div class="container">
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-md-4 bg-white ">
                <h2></h2>
                <h4>Service stuff</h4>
                <ul class="friend-list">
                    <li>
                        <a href="#" class="clearfix">
                            <img src="http://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                            <div class="friend-name">
                                <strong>Admin</strong>
                            </div>
                            <div class="last-message text-muted"></div>
                            <small class="time text-muted">Online</small>
                            <small class="chat-alert text-muted">status</small>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 bg-white ">
                <h2></h2>
                <h4>Conversation</h4>
                <div class="chat-message">
                    <ul class="chat" id="userMessage"></ul>
                </div>
                <div class="chat-box bg-white">
                    <div class="input-group">
                        <input id="message" class="form-control border no-shadow no-rounded"
                               placeholder="Type your message here">
            		<span class="input-group-btn">
            			<button id="sendMessageBtn" class="btn btn-success no-rounded" type="button">Send</button>
            		</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>