<div class="arriv">
    <div class="container">
        <%
            if (collection.length > 1) {
                var chunkCollection = helper.chunks(collection, 2);
                var barrier = chunkCollection.length;
                var index;

                for (index = 0; index < barrier; index += 1) {
                    var blogs = chunkCollection[index];
        %>
        <div class="arriv-top">
            <div class="col-md-6 arriv-left">
                <img src="<%= blogs[0].mainImage %>" class="img-responsive">
                <div class="arriv-info">
                    <h3><%= blogs[0].title.toUpperCase() %></h3>
                    <p><%=  blogs[0].briefInfo.toUpperCase() %></p>
                    <div class="crt-btn" data-id="<%= blogs[0]._id %>">
                        <a id="takeLookBtn" href="#lullaby/blog/<%= blogs[0]._id %>">TAKE A LOOK</a>
                    </div>
                </div>
            </div>
            <% if (blogs[1]) { %>
            <div class="col-md-6 arriv-right">
                <img src="<%= blogs[1].mainImage %>" class="img-responsive">
                <div class="arriv-info">
                    <h3><%= blogs[1].title.toUpperCase() %></h3>
                    <p><%=  blogs[1].briefInfo.toUpperCase() %></p>
                    <div class="crt-btn" data-id="<%= blogs[1]._id %>">
                        <a id="takeLookBtn2" href="#lullaby/blog/<%= blogs[1]._id %>">TAKE A LOOK</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <% }}} else { %>
        <div class="arriv-top">
            <p class="positionInCenter"><img src="images/defaults/page_404.png"></p>
        </div>
        <% } %>
        <nav class="positionInRight">
            <ul class="pagination">
                <li class="page-item">
                    <a id="prevBtn" class="page-link" href="javascript:;" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <%
                    var index = 0;

                    while(index < countPages) {
                        index += 1;
                %>
                <li class="page-item">
                    <a id="goToPageBtn" data-id="<%= index %>" class="page-link" href="javascript:;"><%= index %></a>
                </li>
                <% } %>
                <li class="page-item">
                    <a id="nextBtn" class="page-link" href="javascript:;" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>


