<%
    var comments = product.comments;
    var price    = product.price;
    var id       = product._id;
%>
<div class="col-md-3 det"></div>
<div class="col-md-9 det">
    <div class="single_left">
        <div class="grid images_3_of_2">
            <ul id="etalage">
                <img src="<%= product.mainImage %>" class="img-responsive" alt="" />
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="desc1 span_3_of_2">
            <h3><%= product.title %></h3>
            <span class="brand">Brand:</span><span><%= product.brand %></span>
            <br>
            <span class="code">Product Code:</span><span> <%= product.productCode %></span>
            <p>when an unknown printer took a galley of type and scrambled it to make</p>
            <div class="price">
                <span class="text">Price:</span>
                <span class="price-new"><%= price %> UAH </span><span class="price-old"><%= price + Math.ceil(price * 0.1) %> UAH</span>
            </div>
            <div class="price">
                <span class="text">Delivery:</span>
                <span class="price-new">Free </span>
            </div>
            <div class="det_nav1">
                <h4>Select a size :</h4>
                <div class=" sky-form col col-4">
                    <ul>
                        <li><label class="checkbox"><input type="checkbox" name="checkbox"><i></i>L</label></li>
                        <li><label class="checkbox"><input type="checkbox" name="checkbox"><i></i>S</label></li>
                        <li><label class="checkbox"><input type="checkbox" name="checkbox"><i></i>M</label></li>
                        <li><label class="checkbox"><input type="checkbox" name="checkbox"><i></i>XL</label></li>
                    </ul>
                </div>
            </div>
            <div class="btn_form">
                <a href="#lullaby/checkout" id="buyBtn" data-id="<%= id %>">buy</a>
            </div>
            <a href="javascript:;" id="addInWishListBtn" data-id="<%= id %>"><span>add in wishlist </span></a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="single-bottom1">
        <h6>Details</h6>
        <p class="prod-desc"><%= product.description %></p>
    </div>
    <div class="single-bottom2">
        <h6>Products reviews</h6>
        <div class="product">
                <div class="well">
                    <%
                        var now   = moment(new Date());
                        var limit = comments.length;
                        var index = 0;
                        var commentDate;
                        var differ;

                        for(; index < limit; index += 1) {
                            differ = now.diff(comments[index].postedDate, 'days');
                            commentDate = differ ? differ + ' days ago' : 'today';
                    %>
                        <div class="row">
                            <div class="col-md-12" id="author"><%= comments[index].authorName %>
                                <span class="pull-right"><%= commentDate %></span>
                                <p><%= comments[index].text %></p>
                            </div>
                            <div id="userComment"></div>
                        </div>
                        <hr>

                    <% } %>
                    <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                        <div class="btn_form">
                            <a href="javascript:;" id="leaveCommentBtn" data-id="<%= id %>">Leave comment</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>