<% productsChunk = helper.chunks(products, 4) %>
<div class="container">
    <div class="col-md-9 w_content">

        <!-- sorts menu -->
        <div class="women">
            <a href="javascript:;"><h4>Night wear - <span><%= countProducts %> items</span></h4></a>
            <ul class="w_nav">
                <li>Sort :</li>
                <li><a id="sortByDateBtn" href="javascript:;">new </a></li>
                |
                <li><a id="sortByTitleBtn" href="javascript:;">title </a></li>
                |
                <li><a id="sortByPriceBtn" href="javascript:;">price: Low High </a></li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <!-- product list -->
        <div class="grids_of_4">
            <%
                if (productsChunk.length > 1) {

                    var index = productsChunk.length - 1;
                    for (; index >= 0; index -= 1) {
            %>
            <div class="grids_of_4">
            <%
                        var part = productsChunk[index];
                        var step = part.length - 1;


                        for (; step >= 0; step -=1) {
                            var product = part[step];
                %>
            <div class="grid1_of_4">
                <div class="content_box">
                    <a href="#lullaby/product/<%= product._id %>">
                        <img src="<%= product.searchImage %>" class="img-responsive" />
                    </a>
                    <h4><a href="#lullaby/product/<%= product._id %>"><%= product.title %></a></h4>
                    <p><%= product.brand %></p>
                    <div class="grid_1 simpleCart_shelfItem">
                        <div class="item_add"><span class="item_price"><h6>ONLY <%= product.price %> UAH</h6></span>
                        </div>
                        <div class="item_add">
                            <span class="item_price">
                                <a id="addProductBtn" data-id="<%= product._id %>" href="#">add to cart</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
            <%
                }}} else {
            %>
        <div class="grids_of_4">
            <p style="text-align:center"><img src="images/defaults/product_404.png"></p>
        </div>
            <% } %>
    </div>
    <nav class="defaultImagePosition">
        <ul class="pagination">
            <li class="page-item">
                <a id="prevBtn" class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <%
                for(index = 0; index < countPages; index += 1) {
            %>
            <li class="page-item"><a id="goToBtn" data-id="<%= index + 1 %>" class="page-link" href="#"><%= index + 1 %></a></li>
            <% } %>
            <li class="page-item">
                <a id="nextBtn" class="page-link" href="" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
