<div class="container">

    <!-- Products area -->
    <div class="col-md-9 w_content">

        <!-- filter menu -->
        <div class="women">
            <a href="javascript:;"><h4>Products - <span><%= countProducts %> items</span></h4></a>
            <ul class="w_nav">
                <li>Sort :</li>
                <li><a href="javascript:;" class="selectPageSort" data-id="createdDate">new </a></li>  |
                <li><a href="javascript:;" class="selectPageSort" data-id="title">title </a></li>      |
                <li><a href="javascript:;" class="selectPageSort" data-id="price">price: Low High </a></li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <!-- product list area -->
        <%
            chunkProducts = helper.chunks(collection, 4);

            if (chunkProducts.length > 1) {
                var limit = chunkProducts.length
                for (var index  = 0; index < limit; index += 1) {
                    var partProducts = chunkProducts[index];
        %>
        <div class="grids_of_4">
        <%
            var barrier = partProducts.length;
            for (var step = 0; step < barrier; step +=1) {
                var product = partProducts[step];
        %>
            <div class="grid1_of_4">
                <div class="content_box">
                    <a href="#lullaby/product/<%= product._id %>">
                        <img src="<%= product.searchImage %>" class="img-responsive" />
                    </a>
                    <h4><a href="#lullaby/product/<%= product._id %>"><%= product.title %></a></h4>
                    <p><%= product.brand %></p>
                    <div class="grid_1 simpleCart_shelfItem">
                        <div class="item_add"><span class="item_price"><h6>ONLY <%= product.price %> UAH</h6></span>
                        </div>
                        <div class="item_add">
                            <span class="item_price">
                                <a id="addProductBtn" data-id="<%= product._id %>" href="#">add to cart</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <div class="clearfix"></div>
        </div>
        <%
            }} else {
        %>
        <div class="grids_of_4">
            <p class="positionInCenter"><img src="images/defaults/page_404.png"></p>
        </div>
        <% } %>
    </div>

    <!-- pagination area -->
    <nav class="positionInRight">
        <ul class="pagination">
            <li class="page-item">
                <a id="prevPageBtn" class="page-link" href="javascript:;" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <%
                var index = 0;

                while(index < countPages) {
                    index += 1;
            %>
            <li class="page-item">
                <a id="goToPageBtn" data-id="<%= index %>" class="page-link" href="javascript:;"><%= index %></a>
            </li>
            <% } %>
            <li class="page-item">
                <a id="nextPageBtn" class="page-link" href="javascript:;" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
