<div class="container">
    <div class="main">
        <div class="registration">
            <div class="registration_left">
                <h2>Existing user</h2>
                <div class="registration_form">
                    <form role="form">
                        <div>
                            <label>
                                <input placeholder="email:" type="email" id="email" name="email" required >
                            </label>
                        </div>
                        <div>
                            <label>
                                <input placeholder="password" type="password" id="password" name="password" required >
                            </label>
                        </div>
                        <div>
                            <input type="submit" value="Sign in" id="signInBtn">
                            <input type="submit" value="Cancel"  id="cancelBtn">
                        </div>
                        <div>
                            <label><input type="checkbox" id="rememberMe" value="done"><i>Remember me</i></label>
                        </div>
                        <div class="forget">
                            <a href="#lullaby/recovery">forgot your password</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>